*.*
!apache.conf
!damn.sse3.conf
!damn.sse.conf
!disable.collision.protect.conf
!disable.debug.conf
!disable.debug+userpriv.conf
!disable.userpriv.conf
!ggdb.amd64.conf
!ggdb.x86.conf
!hardened.conf
!linguas-en.conf
!noframepointer.conf
!nographite.amd64.conf
!nographite.x86.conf
!noparalelmake.conf
!O3.amd64.conf
!O3.amd64.notest.conf
!O3.x86.conf
